<header id="header">
    <!-- menu de la aplicación -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <!-- toggle button to responsive -->
            <button 
                type="button" 
                class="navbar-toggle collapsed" 
                data-toggle="collapse"
                data-target="#menu"
                aria-extended="false">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- logo -->
            <a class="navbar-brand" [routerLink]="['/']">
                <img src="assets/img/logo.png" id="logo" alt="" height="100%"> <small>base</small>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/']">
                        <span class="glyphicon glyphicon-home"></span>
                        Inicio
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/register']" *ngIf="identity && identity.sub">
                        <span class="glyphicon glyphicon-plus"></span>
                        Crear tarea
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
                <li>
                    <a [routerLink]="['/login']">Acceder</a>
                </li>
                <li>
                    <a [routerLink]="['/register']">Registro</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="identity && identity.sub">
                <li>
                    <a [routerLink]="['/']" >
                        <span class="glyphicon glyphicon-cog"></span>
                        Ajustes
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']" >
                        <span class="glyphicon glyphicon-log-out"></span>
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>


<router-outlet></router-outlet>
